## Scraping Table From Wikipedia

In [63]:
from bs4 import BeautifulSoup
import requests
import numpy as np

In [64]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_Solar_System_objects_by_size')
soup = BeautifulSoup(page.text, 'html')

### Find first \<table\> in the soup

In [65]:
table = soup.find_all('table')[1]

In [75]:
html_headers = table.find_all('th')
all_headers = [title.text.strip() for title in html_headers]
all_headers

['Body[note 1]',
 'Image',
 'Radius[note 2]',
 'Volume',
 'Mass',
 'Surface area',
 'Density',
 'Gravity[note 3]',
 'Type',
 'Discovery',
 '(km)',
 '(RðŸœ¨)',
 '(109\xa0km3)',
 '(VðŸœ¨)',
 '(1021\xa0kg)',
 '(MðŸœ¨)',
 '(106 km2)',
 'ðŸœ¨',
 '(g/cm3)',
 '(m/s2)',
 '(ðŸœ¨)',
 '695508 Â±\xa0?[13]',
 '1989100000[13]',
 '1.409[13]',
 '69911Â±6[14]',
 '1898187Â±88[14]',
 '1.3262Â±0.0003[14]',
 '58232Â±6[14](136775 for A Ring)',
 '568317Â±13[14]',
 '0.6871Â±0.0002[14]',
 '25362Â±7[14]',
 '86813Â±4[14]',
 '1.270Â±0.001[14]',
 '24622Â±19[14]',
 '102413Â±5[14]',
 '1.638Â±0.004[14]',
 '6371.0084Â±0.0001[14]',
 '5972.4Â±0.3[14]',
 '5.5136Â±0.0003[14]',
 '6052Â±1[14]',
 '4867.5Â±0.2[14]',
 '5.243Â±0.003[14]',
 '3389.5Â±0.2[14]',
 '641.71Â±0.03[14]',
 '3.9341Â±0.0007[14]',
 '2634.1Â±0.3',
 '148.2',
 '1.936',
 '2574.73Â±0.09[23]',
 '134.5',
 '1.880Â±0.004',
 '2439.4Â±0.1[14]',
 '330.11Â±0.02[14]',
 '5.4291Â±0.007[14]',
 '2410.3Â±1.5[23]',
 '107.6',
 '1.834Â±0.003',
 '1821.6Â±0.5[5]',
 '89.32',
 '3.528Â±0.006',
 '1737.5Â±0.1[28]',
 '73.46[29]',
 '3.344Â±0.005[28]',
 '1560.8Â±0.5[5]',
 '48.00',
 '3.013Â±0.005',
 '1353.4Â±0.9[a][23]',
 '21.39Â±0.03',
 '2.061',
 '1188.3Â±0.8',
 '13.03Â±0.03',
 '1.854Â±0.006',
 '1163Â±6[b][33]',
 '16.6Â±0.2[34]',
 '2.52Â±0.07',
 '798Â±6 to 816[35]',
 '4.01Â±0.04[36]',
 '2.018[37][d]',
 '788.9Â±1.8[23]',
 '3.40Â±0.06',
 '1.711Â±0.005',
 '763.8Â±1.0[e]',
 '2.307',
 '1.236Â±0.005',
 '761.4Â±2.6[a][23]',
 '3.08Â±0.09',
 '1.63Â±0.05',
 '735.6Â±1.5[5]',
 '1.806',
 '1.088Â±0.013',
 '715+19âˆ’11[41]',
 'â‰ˆ\xa03.1',
 'â‰ˆ\xa02.1',
 '615Â±25[42]',
 '1.75Â±0.07',
 '1.72Â±0.16',
 '606.0Â±0.5',
 '1.586Â±0.015',
 '1.70Â±0.02',
 '584.7Â±2.8[23]',
 '1.28Â±0.03',
 '1.39Â±0.16',
 '578.9Â±0.6[23]',
 '1.25Â±0.02',
 '1.66Â±0.15',
 '561.7Â±0.45[23]',
 '1.095',
 '1.478Â±0.003',
 '543Â±2',
 '1.20Â±0.05[47]',
 '2.0Â±0.5[48]',
 '533.0Â±0.7[23]',
 '0.617',
 '0.984Â±0.003[50]',
 '498Â±40',
 '',
 '',
 '469.7Â±0.1[51]',
 '0.938[52]',
 '2.17',
 '455+25âˆ’20',
 '0.548Â±0.010[54]',
 '1.4Â±0.2[54]',
 '423Â±11',
 '0.492Â±0.007[55]',
 '1.5Â±0.1[55]',
 '400Â±12[56]',
 '',
 '']

I will remove the Earth-based metrics columns, since we can calculated that based on Earth's data.

In [76]:

table_headers = all_headers[:10]
table_headers.remove('Image')
table_headers

['Body[note 1]',
 'Radius[note 2]',
 'Volume',
 'Mass',
 'Surface area',
 'Density',
 'Gravity[note 3]',
 'Type',
 'Discovery']

Some data in rows are marked as \<th\>

In [83]:
table_data_rows = table.find_all('tr')[2:]
data = []

for row in table_data_rows:
    table_row_data = row.find_all(['td', 'th'])
    row_data = [data.text.strip() for data in table_row_data]

    data.append(row_data)

# for row in data:
#     del row[1]
#     del row[3]
#     del row[5]
#     del row[7]
#     del row[8]

data

15

[['Sun',
  '',
  '695508 Â±\xa0?[13]',
  '109.2[13]',
  '1,409,300,000[13]',
  '1,301,000[13]',
  '1989100000[13]',
  '333,000[13]',
  '6,078,700[13]',
  '11,918[13]',
  '1.409[13]',
  '274.0[13]',
  '27.94[13]',
  'G2V-class star',
  'prehistoric'],
 ['Jupiter',
  '',
  '69911Â±6[14]',
  '10.97',
  '1,431,280',
  '1,321',
  '1898187Â±88[14]',
  '317.83',
  '61,419[15]',
  '120.41',
  '1.3262Â±0.0003[14]',
  '24.79[14]',
  '2.528',
  'gas giant planet; has rings',
  'prehistoric'],
 ['Saturn',
  '',
  '58232Â±6[14](136775 for A Ring)',
  '9.140',
  '827,130',
  '764',
  '568317Â±13[14]',
  '95.162',
  '42,612[16]',
  '83.54',
  '0.6871Â±0.0002[14]',
  '10.44[14]',
  '1.065',
  'gas giant planet; has rings',
  'prehistoric'],
 ['Uranus',
  '',
  '25362Â±7[14]',
  '3.981',
  '68,340',
  '63.1',
  '86813Â±4[14]',
  '14.536',
  '8083.1[17]',
  '15.85',
  '1.270Â±0.001[14]',
  '8.87[14]',
  '0.886',
  'ice giant planet; has rings',
  '1781'],
 ['Neptune',
  '',
  '24622Â±19[14]',
  '3.865',
  '62,540',
  '57.7',
  '102413Â±5[14]',
  '17.147',
  '7618.3[18]',
  '14.94',
  '1.638Â±0.004[14]',
  '11.15[14]',
  '1.137',
  'ice giant planet; has rings',
  '1846'],
 ['Earth',
  '',
  '6371.0084Â±0.0001[14]',
  '1',
  '1,083.21',
  '1',
  '5972.4Â±0.3[14]',
  '1',
  '510.06447[19]',
  '1',
  '5.5136Â±0.0003[14]',
  '9.81[14]',
  '1',
  'terrestrial planet',
  'prehistoric'],
 ['Venus',
  '',
  '6052Â±1[14]',
  '0.9499',
  '928.43',
  '0.857',
  '4867.5Â±0.2[14]',
  '0.815',
  '460.2[20]',
  '0.903',
  '5.243Â±0.003[14]',
  '8.87[14]',
  '0.905',
  'terrestrial planet',
  'prehistoric'],
 ['Mars',
  '',
  '3389.5Â±0.2[14]',
  '0.5320',
  '163.18',
  '0.151',
  '641.71Â±0.03[14]',
  '0.107',
  '144.37[21]',
  '0.283',
  '3.9341Â±0.0007[14]',
  '3.71[14]',
  '0.379',
  'terrestrial planet',
  'prehistoric'],
 ['GanymedeJupiter III',
  '',
  '2634.1Â±0.3',
  '0.4135',
  '76.30',
  '0.0704',
  '148.2',
  '0.0248',
  '86.999[22]',
  '0.171',
  '1.936',
  '1.428',
  '0.146',
  'moon of Jupiter (icy)',
  '1610'],
 ['TitanSaturn VI',
  '',
  '2574.73Â±0.09[23]',
  '0.4037[a]',
  '71.50',
  '0.0658',
  '134.5',
  '0.0225',
  '83.3054[24]',
  '0.163',
  '1.880Â±0.004',
  '1.354',
  '0.138',
  'moon of Saturn (icy)',
  '1655'],
 ['Mercury',
  '',
  '2439.4Â±0.1[14]',
  '0.3829',
  '60.83',
  '0.0562',
  '330.11Â±0.02[14]',
  '0.0553',
  '74.797[25]',
  '0.147',
  '5.4291Â±0.007[14]',
  '3.70[14]',
  '0.377',
  'terrestrial planet',
  'prehistoric'],
 ['CallistoJupiter IV',
  '',
  '2410.3Â±1.5[23]',
  '0.3783',
  '58.65',
  '0.0541',
  '107.6',
  '0.018',
  '73.005[26]',
  '0.143',
  '1.834Â±0.003',
  '1.23603',
  '0.126',
  'moon of Jupiter (icy)',
  '1610'],
 ['IoJupiter I',
  '',
  '1821.6Â±0.5[5]',
  '0.2859',
  '25.32',
  '0.0234',
  '89.32',
  '0.015',
  '41.698[27]',
  '0.082',
  '3.528Â±0.006',
  '1.797',
  '0.183',
  'moon of Jupiter (terrestrial)',
  '1610'],
 ['Moon Earth I',
  '',
  '1737.5Â±0.1[28]',
  '0.2727',
  '21.958',
  '0.0203',
  '73.46[29]',
  '0.0123',
  '37.937[30]',
  '0.074',
  '3.344Â±0.005[28]',
  '1.625',
  '0.166',
  'moon of Earth (terrestrial)',
  'prehistoric'],
 ['EuropaJupiter II',
  '',
  '1560.8Â±0.5[5]',
  '0.2450',
  '15.93',
  '0.0147',
  '48.00',
  '0.008035',
  '30.613[31]',
  '0.06',
  '3.013Â±0.005',
  '1.316',
  '0.134',
  'moon of Jupiter (terrestrial)',
  '1610'],
 ['TritonNeptune I',
  '',
  '1353.4Â±0.9[a][23]',
  '0.2124[a]',
  '10.38',
  '0.0096',
  '21.39Â±0.03',
  '0.003599',
  '23.018[32]',
  '0.045',
  '2.061',
  '0.782',
  '0.0797',
  'moon of Neptune (icy)',
  '1846'],
 ['Pluto134340',
  '',
  '1188.3Â±0.8',
  '0.187',
  '7.057',
  '0.00651',
  '13.03Â±0.03',
  '0.0022',
  '17.79',
  '0.034',
  '1.854Â±0.006',
  '0.620',
  '0.063',
  'dwarf planet; plutino; multiple',
  '1930'],
 ['Eris136199',
  '',
  '1163Â±6[b][33]',
  '0.1825[b]',
  '6.59',
  '0.0061',
  '16.6Â±0.2[34]',
  '0.0028',
  '17',
  '0.033',
  '2.52Â±0.07',
  '0.824',
  '0.083',
  'dwarf planet; SDO; binary',
  '2003'],
 ['Haumea136108',
  '',
  '798Â±6 to 816[35]',
  '0.12',
  '1.98[c]',
  '0.0018',
  '4.01Â±0.04[36]',
  '0.00066',
  '8.14',
  '0.016',
  '2.018[37][d]',
  '0.401',
  '0.0409',
  'dwarf planet;resonant KBO (7:12);trinary; has rings',
  '2004'],
 ['TitaniaUranus III',
  '',
  '788.9Â±1.8[23]',
  '0.1237[e]',
  '2.06',
  '0.0019',
  '3.40Â±0.06',
  '0.00059',
  '7.82[38]',
  '0.015',
  '1.711Â±0.005',
  '0.378',
  '0.0385',
  'moon of Uranus',
  '1787'],
 ['RheaSaturn V',
  '',
  '763.8Â±1.0[e]',
  '0.1199[e]',
  '1.87',
  '0.0017',
  '2.307',
  '0.00039',
  '7.34[39]',
  '0.014',
  '1.236Â±0.005',
  '0.26',
  '0.027',
  'moon of Saturn',
  '1672'],
 ['OberonUranus IV',
  '',
  '761.4Â±2.6[a][23]',
  '0.1195[a]',
  '1.85',
  '0.0017',
  '3.08Â±0.09',
  '0.0005',
  '7.285[40]',
  '0.014',
  '1.63Â±0.05',
  '0.347',
  '0.035',
  'moon of Uranus',
  '1787'],
 ['IapetusSaturn VIII',
  '',
  '735.6Â±1.5[5]',
  '0.1153',
  '1.66',
  '0.0015',
  '1.806',
  '0.00033',
  '6.8',
  '0.013',
  '1.088Â±0.013',
  '0.223',
  '0.0227',
  'moon of Saturn',
  '1671'],
 ['Makemake136472',
  '',
  '715+19âˆ’11[41]',
  '0.112',
  '1.53',
  '0.0014',
  'â‰ˆ\xa03.1',
  '0.00053',
  '6.4',
  '0.013',
  'â‰ˆ\xa02.1',
  '0.57',
  '0.0581',
  'dwarf planet; cubewano',
  '2005'],
 ['Gonggong225088',
  '',
  '615Â±25[42]',
  '0.0983',
  '1.03',
  '0.0009',
  '1.75Â±0.07',
  '0.00029',
  '4.753',
  '0.009',
  '1.72Â±0.16',
  '0.3',
  '0.0306',
  'dwarf planet?; resonant SDO (3:10)',
  '2007'],
 ['CharonPluto I',
  '',
  '606.0Â±0.5',
  '0.0951',
  '0.932',
  '0.0009',
  '1.586Â±0.015',
  '0.00025',
  '4.578[43]',
  '0.009',
  '1.70Â±0.02',
  '0.288',
  '0.0294',
  'moon of Pluto',
  '1978'],
 ['UmbrielUranus II',
  '',
  '584.7Â±2.8[23]',
  '0.0918',
  '0.837',
  '0.0008',
  '1.28Â±0.03',
  '0.00020',
  '4.3[44]',
  '0.008',
  '1.39Â±0.16',
  '0.234',
  '0.024',
  'moon of Uranus',
  '1851'],
 ['ArielUranus I',
  '',
  '578.9Â±0.6[23]',
  '0.0909',
  '0.813',
  '0.0007',
  '1.25Â±0.02',
  '0.000226',
  '4.211[45]',
  '0.008',
  '1.66Â±0.15',
  '0.269',
  '0.027',
  'moon of Uranus',
  '1851'],
 ['DioneSaturn IV',
  '',
  '561.7Â±0.45[23]',
  '0.0881',
  '0.741',
  '0.0007',
  '1.095',
  '0.000183',
  '3.965[46]',
  '0.008',
  '1.478Â±0.003',
  '0.232',
  '0.0237',
  'moon of Saturn',
  '1684'],
 ['Quaoar50000',
  '',
  '543Â±2',
  '0.0879',
  '0.737',
  '0.0007',
  '1.20Â±0.05[47]',
  '0.0002',
  '3.83',
  '0.008',
  '2.0Â±0.5[48]',
  '0.3',
  '0.0306',
  'cubewano; binary',
  '2002'],
 ['TethysSaturn III',
  '',
  '533.0Â±0.7[23]',
  '0.0834',
  '0.624',
  '0.0006',
  '0.617',
  '0.000103',
  '3.57[49]',
  '0.007',
  '0.984Â±0.003[50]',
  '0.145',
  '0.015',
  'moon of Saturn',
  '1684'],
 ['Sedna90377',
  '',
  '498Â±40',
  '0.0785',
  '0.516',
  '0.0005',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'sednoid; detached object',
  '2003'],
 ['Ceres1',
  '',
  '469.7Â±0.1[51]',
  '0.0742',
  '0.433',
  '0.0004',
  '0.938[52]',
  '0.000157',
  '2.85[53]',
  '0.006[53]',
  '2.17',
  '0.28',
  '0.029',
  'dwarf planet; belt asteroid',
  '1801'],
 ['Orcus90482',
  '',
  '455+25âˆ’20',
  '0.0719',
  '0.404',
  '0.0004',
  '0.548Â±0.010[54]',
  '0.000092',
  '',
  '',
  '1.4Â±0.2[54]',
  '0.2',
  '0.0204',
  'plutino; binary',
  '2004'],
 ['Salacia120347',
  '',
  '423Â±11',
  '0.0664',
  '0.3729',
  '0.0003',
  '0.492Â±0.007[55]',
  '0.000082',
  '',
  '',
  '1.5Â±0.1[55]',
  '0.165',
  '0.0168',
  'cubewano; binary',
  '2004'],
 ['2002 MS4307261',
  '',
  '400Â±12[56]',
  '0.0628',
  '0.2681',
  '0.0002',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'cubewano',
  '2002']]

In [71]:
import pandas as pd