## Scraping Table From Wikipedia

In [2]:
from bs4 import BeautifulSoup
import requests
import numpy as np

In [3]:
page = requests.get('https://en.wikipedia.org/wiki/List_of_Solar_System_objects_by_size')
soup = BeautifulSoup(page.text, 'html')

### Find first \<table\> in the soup

In [4]:
table = soup.find_all('table')[1]

### Parse Headers

In [5]:
html_headers = table.find_all('th')
all_headers = [title.text.strip() for title in html_headers]
all_headers

['Body[note 1]',
 'Image',
 'Radius[note 2]',
 'Volume',
 'Mass',
 'Surface area',
 'Density',
 'Gravity[note 3]',
 'Type',
 'Discovery',
 '(km)',
 '(RðŸœ¨)',
 '(109\xa0km3)',
 '(VðŸœ¨)',
 '(1021\xa0kg)',
 '(MðŸœ¨)',
 '(106 km2)',
 'ðŸœ¨',
 '(g/cm3)',
 '(m/s2)',
 '(ðŸœ¨)',
 '695508 Â±\xa0?[13]',
 '1989100000[13]',
 '1.409[13]',
 '69911Â±6[14]',
 '1898187Â±88[14]',
 '1.3262Â±0.0003[14]',
 '58232Â±6[14](136775 for A Ring)',
 '568317Â±13[14]',
 '0.6871Â±0.0002[14]',
 '25362Â±7[14]',
 '86813Â±4[14]',
 '1.270Â±0.001[14]',
 '24622Â±19[14]',
 '102413Â±5[14]',
 '1.638Â±0.004[14]',
 '6371.0084Â±0.0001[14]',
 '5972.4Â±0.3[14]',
 '5.5136Â±0.0003[14]',
 '6052Â±1[14]',
 '4867.5Â±0.2[14]',
 '5.243Â±0.003[14]',
 '3389.5Â±0.2[14]',
 '641.71Â±0.03[14]',
 '3.9341Â±0.0007[14]',
 '2634.1Â±0.3',
 '148.2',
 '1.936',
 '2574.73Â±0.09[23]',
 '134.5',
 '1.880Â±0.004',
 '2439.4Â±0.1[14]',
 '330.11Â±0.02[14]',
 '5.4291Â±0.007[14]',
 '2410.3Â±1.5[23]',
 '107.6',
 '1.834Â±0.003',
 '1821.6Â±0.5[5]',
 '89.32',
 '3.528Â±0.006',
 '1737.5Â±0.1[28]',
 '73.46[29]',
 '3.344Â±0.005[28]',
 '1560.8Â±0.5[5]',
 '48.00',
 '3.013Â±0.005',
 '1353.4Â±0.9[a][23]',
 '21.39Â±0.03',
 '2.061',
 '1188.3Â±0.8',
 '13.03Â±0.03',
 '1.854Â±0.006',
 '1163Â±6[b][33]',
 '16.6Â±0.2[34]',
 '2.52Â±0.07',
 '798Â±6 to 816[35]',
 '4.01Â±0.04[36]',
 '2.018[37][d]',
 '788.9Â±1.8[23]',
 '3.40Â±0.06',
 '1.711Â±0.005',
 '763.8Â±1.0[e]',
 '2.307',
 '1.236Â±0.005',
 '761.4Â±2.6[a][23]',
 '3.08Â±0.09',
 '1.63Â±0.05',
 '735.6Â±1.5[5]',
 '1.806',
 '1.088Â±0.013',
 '715+19âˆ’11[41]',
 'â‰ˆ\xa03.1',
 'â‰ˆ\xa02.1',
 '615Â±25[42]',
 '1.75Â±0.07',
 '1.72Â±0.16',
 '606.0Â±0.5',
 '1.586Â±0.015',
 '1.70Â±0.02',
 '584.7Â±2.8[23]',
 '1.28Â±0.03',
 '1.39Â±0.16',
 '578.9Â±0.6[23]',
 '1.25Â±0.02',
 '1.66Â±0.15',
 '561.7Â±0.45[23]',
 '1.095',
 '1.478Â±0.003',
 '543Â±2',
 '1.20Â±0.05[47]',
 '2.0Â±0.5[48]',
 '533.0Â±0.7[23]',
 '0.617',
 '0.984Â±0.003[50]',
 '498Â±40',
 '',
 '',
 '469.7Â±0.1[51]',
 '0.938[52]',
 '2.17',
 '455+25âˆ’20',
 '0.548Â±0.010[54]',
 '1.4Â±0.2[54]',
 '423Â±11',
 '0.492Â±0.007[55]',
 '1.5Â±0.1[55]',
 '400Â±12[56]',
 '',
 '']

I will remove the Earth-based metrics columns, since we can calculate that based on Earth's data.

In [6]:

table_headers = all_headers[:10]
table_headers.remove('Image')
table_headers[0] = "Body"
table_headers[1] = "Radius"
table_headers[6] = "Gravity"
table_headers

['Body',
 'Radius',
 'Volume',
 'Mass',
 'Surface area',
 'Density',
 'Gravity',
 'Type',
 'Discovery']

### Parse Data

Some data in rows are marked as \<th\>

In [42]:
table_data_rows = table.find_all('tr')[2:]
data = []

for row in table_data_rows:
    table_row_data = row.find_all(['td', 'th'])
    row_data = [data.text.strip() for data in table_row_data]

    data.append(row_data)

data

[['Sun',
  '',
  '695508 Â±\xa0?[13]',
  '109.2[13]',
  '1,409,300,000[13]',
  '1,301,000[13]',
  '1989100000[13]',
  '333,000[13]',
  '6,078,700[13]',
  '11,918[13]',
  '1.409[13]',
  '274.0[13]',
  '27.94[13]',
  'G2V-class star',
  'prehistoric'],
 ['Jupiter',
  '',
  '69911Â±6[14]',
  '10.97',
  '1,431,280',
  '1,321',
  '1898187Â±88[14]',
  '317.83',
  '61,419[15]',
  '120.41',
  '1.3262Â±0.0003[14]',
  '24.79[14]',
  '2.528',
  'gas giant planet; has rings',
  'prehistoric'],
 ['Saturn',
  '',
  '58232Â±6[14](136775 for A Ring)',
  '9.140',
  '827,130',
  '764',
  '568317Â±13[14]',
  '95.162',
  '42,612[16]',
  '83.54',
  '0.6871Â±0.0002[14]',
  '10.44[14]',
  '1.065',
  'gas giant planet; has rings',
  'prehistoric'],
 ['Uranus',
  '',
  '25362Â±7[14]',
  '3.981',
  '68,340',
  '63.1',
  '86813Â±4[14]',
  '14.536',
  '8083.1[17]',
  '15.85',
  '1.270Â±0.001[14]',
  '8.87[14]',
  '0.886',
  'ice giant planet; has rings',
  '1781'],
 ['Neptune',
  '',
  '24622Â±19[14]',
  '3.865',
  '62,540',
  '57.7',
  '102413Â±5[14]',
  '17.147',
  '7618.3[18]',
  '14.94',
  '1.638Â±0.004[14]',
  '11.15[14]',
  '1.137',
  'ice giant planet; has rings',
  '1846'],
 ['Earth',
  '',
  '6371.0084Â±0.0001[14]',
  '1',
  '1,083.21',
  '1',
  '5972.4Â±0.3[14]',
  '1',
  '510.06447[19]',
  '1',
  '5.5136Â±0.0003[14]',
  '9.81[14]',
  '1',
  'terrestrial planet',
  'prehistoric'],
 ['Venus',
  '',
  '6052Â±1[14]',
  '0.9499',
  '928.43',
  '0.857',
  '4867.5Â±0.2[14]',
  '0.815',
  '460.2[20]',
  '0.903',
  '5.243Â±0.003[14]',
  '8.87[14]',
  '0.905',
  'terrestrial planet',
  'prehistoric'],
 ['Mars',
  '',
  '3389.5Â±0.2[14]',
  '0.5320',
  '163.18',
  '0.151',
  '641.71Â±0.03[14]',
  '0.107',
  '144.37[21]',
  '0.283',
  '3.9341Â±0.0007[14]',
  '3.71[14]',
  '0.379',
  'terrestrial planet',
  'prehistoric'],
 ['GanymedeJupiter III',
  '',
  '2634.1Â±0.3',
  '0.4135',
  '76.30',
  '0.0704',
  '148.2',
  '0.0248',
  '86.999[22]',
  '0.171',
  '1.936',
  '1.428',
  '0.146',
  'moon of Jupiter (icy)',
  '1610'],
 ['TitanSaturn VI',
  '',
  '2574.73Â±0.09[23]',
  '0.4037[a]',
  '71.50',
  '0.0658',
  '134.5',
  '0.0225',
  '83.3054[24]',
  '0.163',
  '1.880Â±0.004',
  '1.354',
  '0.138',
  'moon of Saturn (icy)',
  '1655'],
 ['Mercury',
  '',
  '2439.4Â±0.1[14]',
  '0.3829',
  '60.83',
  '0.0562',
  '330.11Â±0.02[14]',
  '0.0553',
  '74.797[25]',
  '0.147',
  '5.4291Â±0.007[14]',
  '3.70[14]',
  '0.377',
  'terrestrial planet',
  'prehistoric'],
 ['CallistoJupiter IV',
  '',
  '2410.3Â±1.5[23]',
  '0.3783',
  '58.65',
  '0.0541',
  '107.6',
  '0.018',
  '73.005[26]',
  '0.143',
  '1.834Â±0.003',
  '1.23603',
  '0.126',
  'moon of Jupiter (icy)',
  '1610'],
 ['IoJupiter I',
  '',
  '1821.6Â±0.5[5]',
  '0.2859',
  '25.32',
  '0.0234',
  '89.32',
  '0.015',
  '41.698[27]',
  '0.082',
  '3.528Â±0.006',
  '1.797',
  '0.183',
  'moon of Jupiter (terrestrial)',
  '1610'],
 ['Moon Earth I',
  '',
  '1737.5Â±0.1[28]',
  '0.2727',
  '21.958',
  '0.0203',
  '73.46[29]',
  '0.0123',
  '37.937[30]',
  '0.074',
  '3.344Â±0.005[28]',
  '1.625',
  '0.166',
  'moon of Earth (terrestrial)',
  'prehistoric'],
 ['EuropaJupiter II',
  '',
  '1560.8Â±0.5[5]',
  '0.2450',
  '15.93',
  '0.0147',
  '48.00',
  '0.008035',
  '30.613[31]',
  '0.06',
  '3.013Â±0.005',
  '1.316',
  '0.134',
  'moon of Jupiter (terrestrial)',
  '1610'],
 ['TritonNeptune I',
  '',
  '1353.4Â±0.9[a][23]',
  '0.2124[a]',
  '10.38',
  '0.0096',
  '21.39Â±0.03',
  '0.003599',
  '23.018[32]',
  '0.045',
  '2.061',
  '0.782',
  '0.0797',
  'moon of Neptune (icy)',
  '1846'],
 ['Pluto134340',
  '',
  '1188.3Â±0.8',
  '0.187',
  '7.057',
  '0.00651',
  '13.03Â±0.03',
  '0.0022',
  '17.79',
  '0.034',
  '1.854Â±0.006',
  '0.620',
  '0.063',
  'dwarf planet; plutino; multiple',
  '1930'],
 ['Eris136199',
  '',
  '1163Â±6[b][33]',
  '0.1825[b]',
  '6.59',
  '0.0061',
  '16.6Â±0.2[34]',
  '0.0028',
  '17',
  '0.033',
  '2.52Â±0.07',
  '0.824',
  '0.083',
  'dwarf planet; SDO; binary',
  '2003'],
 ['Haumea136108',
  '',
  '798Â±6 to 816[35]',
  '0.12',
  '1.98[c]',
  '0.0018',
  '4.01Â±0.04[36]',
  '0.00066',
  '8.14',
  '0.016',
  '2.018[37][d]',
  '0.401',
  '0.0409',
  'dwarf planet;resonant KBO (7:12);trinary; has rings',
  '2004'],
 ['TitaniaUranus III',
  '',
  '788.9Â±1.8[23]',
  '0.1237[e]',
  '2.06',
  '0.0019',
  '3.40Â±0.06',
  '0.00059',
  '7.82[38]',
  '0.015',
  '1.711Â±0.005',
  '0.378',
  '0.0385',
  'moon of Uranus',
  '1787'],
 ['RheaSaturn V',
  '',
  '763.8Â±1.0[e]',
  '0.1199[e]',
  '1.87',
  '0.0017',
  '2.307',
  '0.00039',
  '7.34[39]',
  '0.014',
  '1.236Â±0.005',
  '0.26',
  '0.027',
  'moon of Saturn',
  '1672'],
 ['OberonUranus IV',
  '',
  '761.4Â±2.6[a][23]',
  '0.1195[a]',
  '1.85',
  '0.0017',
  '3.08Â±0.09',
  '0.0005',
  '7.285[40]',
  '0.014',
  '1.63Â±0.05',
  '0.347',
  '0.035',
  'moon of Uranus',
  '1787'],
 ['IapetusSaturn VIII',
  '',
  '735.6Â±1.5[5]',
  '0.1153',
  '1.66',
  '0.0015',
  '1.806',
  '0.00033',
  '6.8',
  '0.013',
  '1.088Â±0.013',
  '0.223',
  '0.0227',
  'moon of Saturn',
  '1671'],
 ['Makemake136472',
  '',
  '715+19âˆ’11[41]',
  '0.112',
  '1.53',
  '0.0014',
  'â‰ˆ\xa03.1',
  '0.00053',
  '6.4',
  '0.013',
  'â‰ˆ\xa02.1',
  '0.57',
  '0.0581',
  'dwarf planet; cubewano',
  '2005'],
 ['Gonggong225088',
  '',
  '615Â±25[42]',
  '0.0983',
  '1.03',
  '0.0009',
  '1.75Â±0.07',
  '0.00029',
  '4.753',
  '0.009',
  '1.72Â±0.16',
  '0.3',
  '0.0306',
  'dwarf planet?; resonant SDO (3:10)',
  '2007'],
 ['CharonPluto I',
  '',
  '606.0Â±0.5',
  '0.0951',
  '0.932',
  '0.0009',
  '1.586Â±0.015',
  '0.00025',
  '4.578[43]',
  '0.009',
  '1.70Â±0.02',
  '0.288',
  '0.0294',
  'moon of Pluto',
  '1978'],
 ['UmbrielUranus II',
  '',
  '584.7Â±2.8[23]',
  '0.0918',
  '0.837',
  '0.0008',
  '1.28Â±0.03',
  '0.00020',
  '4.3[44]',
  '0.008',
  '1.39Â±0.16',
  '0.234',
  '0.024',
  'moon of Uranus',
  '1851'],
 ['ArielUranus I',
  '',
  '578.9Â±0.6[23]',
  '0.0909',
  '0.813',
  '0.0007',
  '1.25Â±0.02',
  '0.000226',
  '4.211[45]',
  '0.008',
  '1.66Â±0.15',
  '0.269',
  '0.027',
  'moon of Uranus',
  '1851'],
 ['DioneSaturn IV',
  '',
  '561.7Â±0.45[23]',
  '0.0881',
  '0.741',
  '0.0007',
  '1.095',
  '0.000183',
  '3.965[46]',
  '0.008',
  '1.478Â±0.003',
  '0.232',
  '0.0237',
  'moon of Saturn',
  '1684'],
 ['Quaoar50000',
  '',
  '543Â±2',
  '0.0879',
  '0.737',
  '0.0007',
  '1.20Â±0.05[47]',
  '0.0002',
  '3.83',
  '0.008',
  '2.0Â±0.5[48]',
  '0.3',
  '0.0306',
  'cubewano; binary',
  '2002'],
 ['TethysSaturn III',
  '',
  '533.0Â±0.7[23]',
  '0.0834',
  '0.624',
  '0.0006',
  '0.617',
  '0.000103',
  '3.57[49]',
  '0.007',
  '0.984Â±0.003[50]',
  '0.145',
  '0.015',
  'moon of Saturn',
  '1684'],
 ['Sedna90377',
  '',
  '498Â±40',
  '0.0785',
  '0.516',
  '0.0005',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'sednoid; detached object',
  '2003'],
 ['Ceres1',
  '',
  '469.7Â±0.1[51]',
  '0.0742',
  '0.433',
  '0.0004',
  '0.938[52]',
  '0.000157',
  '2.85[53]',
  '0.006[53]',
  '2.17',
  '0.28',
  '0.029',
  'dwarf planet; belt asteroid',
  '1801'],
 ['Orcus90482',
  '',
  '455+25âˆ’20',
  '0.0719',
  '0.404',
  '0.0004',
  '0.548Â±0.010[54]',
  '0.000092',
  '',
  '',
  '1.4Â±0.2[54]',
  '0.2',
  '0.0204',
  'plutino; binary',
  '2004'],
 ['Salacia120347',
  '',
  '423Â±11',
  '0.0664',
  '0.3729',
  '0.0003',
  '0.492Â±0.007[55]',
  '0.000082',
  '',
  '',
  '1.5Â±0.1[55]',
  '0.165',
  '0.0168',
  'cubewano; binary',
  '2004'],
 ['2002 MS4307261',
  '',
  '400Â±12[56]',
  '0.0628',
  '0.2681',
  '0.0002',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  'cubewano',
  '2002']]

### Analyse Data

In [8]:
import pandas as pd

In [43]:
matrix = np.matrix(data)
df = pd.DataFrame(matrix)

df = df.drop([1,3,5,7,9,12], axis=1)
df.columns = table_headers

In [44]:
df.head()

,Body,Radius,Volume,Mass,Surface area,Density,Gravity,Type,Discovery
0,Sun,695508 Â±Â ?[13],"1,409,300,000[13]",1989100000[13],"6,078,700[13]",1.409[13],274.0[13],G2V-class star,prehistoric
1,Jupiter,69911Â±6[14],"1,431,280",1898187Â±88[14],"61,419[15]",1.3262Â±0.0003[14],24.79[14],gas giant planet; has rings,prehistoric
2,Saturn,58232Â±6[14](136775 for A Ring),"827,130",568317Â±13[14],"42,612[16]",0.6871Â±0.0002[14],10.44[14],gas giant planet; has rings,prehistoric
3,Uranus,25362Â±7[14],"68,340",86813Â±4[14],8083.1[17],1.270Â±0.001[14],8.87[14],ice giant planet; has rings,1781
4,Neptune,24622Â±19[14],"62,540",102413Â±5[14],7618.3[18],1.638Â±0.004[14],11.15[14],ice giant planet; has rings,1846

Data cleaning and parsing

In [45]:
def clean_strings(data):
    return (data.strip()
            .split("Â±")[0]
            .split("+")[0]
            .split("[")[0]
            .replace(",", "")
            .replace("â‰ˆ", "")
            )

df = df.map(clean_strings)
df[["Radius", "Volume", "Mass", "Surface area", "Density", "Gravity"]] = df[["Radius", "Volume", "Mass", "Surface area", "Density", "Gravity"]].apply(pd.to_numeric, errors='coerce')

df.head()

,Body,Radius,Volume,Mass,Surface area,Density,Gravity,Type,Discovery
0,Sun,695508.0,1.409300e+09,1.989100e+09,6078700.0,1.4090,274.00,G2V-class star,prehistoric
1,Jupiter,69911.0,1.431280e+06,1.898187e+06,61419.0,1.3262,24.79,gas giant planet; has rings,prehistoric
2,Saturn,58232.0,8.271300e+05,5.683170e+05,42612.0,0.6871,10.44,gas giant planet; has rings,prehistoric
3,Uranus,25362.0,6.834000e+04,8.681300e+04,8083.1,1.2700,8.87,ice giant planet; has rings,1781
4,Neptune,24622.0,6.254000e+04,1.024130e+05,7618.3,1.6380,11.15,ice giant planet; has rings,1846

### Visualizing data

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [47]:
df.head()

,Body,Radius,Volume,Mass,Surface area,Density,Gravity,Type,Discovery
0,Sun,695508.0,1.409300e+09,1.989100e+09,6078700.0,1.4090,274.00,G2V-class star,prehistoric
1,Jupiter,69911.0,1.431280e+06,1.898187e+06,61419.0,1.3262,24.79,gas giant planet; has rings,prehistoric
2,Saturn,58232.0,8.271300e+05,5.683170e+05,42612.0,0.6871,10.44,gas giant planet; has rings,prehistoric
3,Uranus,25362.0,6.834000e+04,8.681300e+04,8083.1,1.2700,8.87,ice giant planet; has rings,1781
4,Neptune,24622.0,6.254000e+04,1.024130e+05,7618.3,1.6380,11.15,ice giant planet; has rings,1846

In [48]:
df.tail()

,Body,Radius,Volume,Mass,Surface area,Density,Gravity,Type,Discovery
31,Sedna90377,498.0,0.5160,NaN,NaN,NaN,NaN,sednoid; detached object,2003
32,Ceres1,469.7,0.4330,0.938,2.85,2.17,0.280,dwarf planet; belt asteroid,1801
33,Orcus90482,455.0,0.4040,0.548,NaN,1.40,0.200,plutino; binary,2004
34,Salacia120347,423.0,0.3729,0.492,NaN,1.50,0.165,cubewano; binary,2004
35,2002 MS4307261,400.0,0.2681,NaN,NaN,NaN,NaN,cubewano,2002

### Scales: 
- Radius: <b>km</b>
- Volume: <b>10<sup>9</sup> km<sup>3</sup></b>
- Mass: <b>10<sup>21</sup> kg</b>
- Surface Area: <b>10<sup>6</sup> km<sup>2</sup></b>
- Density: <b>g/cm<sup>3</sup></b>
- Gravity: <b>m/s<sup>2</sup></b>

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Body          36 non-null     object
 1   Radius        36 non-null     float64
 2   Volume        36 non-null     float64
 3   Mass          33 non-null     float64
 4   Surface area  32 non-null     float64
 5   Density       33 non-null     float64
 6   Gravity       34 non-null     float64
 7   Type          36 non-null     object
 8   Discovery     36 non-null     object
dtypes: float64(6), object(3)
memory usage: 2.7+ KB

In [49]:
df.describe()

,Radius,Volume,Mass,Surface area,Density,Gravity
count,36.000000,3.600000e+01,3.300000e+01,3.200000e+01,33.000000,34.000000
mean,25532.259400,3.921366e+07,6.035661e+07,1.937534e+05,2.185003,10.909236
std,115872.504906,2.348721e+08,3.462435e+08,1.073959e+06,1.252099,46.766561
min,400.000000,2.681000e-01,4.920000e-01,2.850000e+00,0.687100,0.145000
25%,583.250000,8.310000e-01,1.586000e+00,5.988250e+00,1.409000,0.282000
50%,980.500000,4.325000e+00,1.660000e+01,2.040400e+01,1.720000,0.701000
75%,2589.572500,7.270000e+01,3.301100e+02,1.013417e+02,2.170000,3.224250
max,695508.000000,1.409300e+09,1.989100e+09,6.078700e+06,5.513600,274.000000